.header {
    box-shadow: 0 4px 2px -2px gray;
}

.navbar-brand img {
    margin-right: 10px;
}

.nav-link {
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.nav-link img {
    margin-right: 5px;
}

.form-inline {
    display: flex;
    align-items: center;
}

.mr-auto {
    flex-grow: 1;
}
